@media screen and (max-width: 991px) {
    .promo {
        padding: 16px 15px 91px 15px;
        &_wrapper {
            margin-top: 80px;
        }
        &_header {
            font-size: 40px;
        }
        &_subheader {
            font-size: 22px;
        }
        &_icons {
            margin-top: 50px;
            width: 400px;
        }
        &_icon {
            width: 100px;
        }
        &_link {
           font-size: 14px;
        }
    }
    
    .header {
        &_logo {
            width: 215px;
        }
    
        &_official {
            font-size: 11px;
            span {
                font-size: 16px;
            }
        }
    
        &_phone {
            font-size: 16px;
        }
    }

    .button {
        max-width: 140px;
        &.main_button {
            max-width: 250px;
        }
        &.button_submit {
            max-width: 250px;
        }
    }
    
    .advantages {
        padding: 63px 50px 73px 50px;
        &_item {
            max-width: 200px;
            margin-top: 60px;
        }
        &_subtitle {
            margin-top: 25px;
            font-size: 16px;
        }
        &_descr {
            font-size: 13px;
            margin-top: 16px;
        }
    }
    .consultation {
        padding-top: 80px;
        &_descr {
            font-size: 18px;
            line-height: 26px;
            margin-top: 20px;
        }
    }
    .title {
        font-size: 26px;
        font-weight: 600;
        &_left {
           font-size: 32px;
        }
    }

    .feed-form {
        margin-top: 32px;
        width: 290px;
        height: 230px;
        input {
            font-size: 12px;
            margin-bottom: 13px;
            &:nth-child(3) {
                margin-bottom: 18px;
            }
        }
    }

    .carousel {
        padding: 61px 0;
        .slick-track {
            width: 100%;
        }
        &_inner {
            max-width: 100%;
        }
        li {
            list-style: none;
            button {
                display: none;
            }
        }
    }

    .catalog {
        padding-bottom: 80px;
        &_tabs {
            margin-top: 42px;
        }
        &_tab {
            width: 200px;
            height: 46px;
            font-size: 16px;
            line-height: 46px;
        }
        &_content {
            margin-top: 40px;
            padding: 0 80px;
        }
        &-item {
            width: 280px;
            min-height: 420px;
            &_old-price {
                font-size: 13px;
            }
            &_price {
                font-size: 18px;
            }
        }
    }

    .feed {
        padding-bottom: 40px;
        &_item {
            margin-top: 60px;
            margin-left: 40px;
        }
        img {
            width: 150px;
            height: 150px;
        }
        &_text {
            margin-left: 50px;
            padding-right: 50px;
        }
        &_subtitle {
            font-size: 16px;
        }
        &_count {
            font-size: 12px;        
        }
        &_descr {
            font-size: 14px;
        }
    }
    .footer {
        &_info {
            width: 420px;
            height: 230px;
        }
        
        &_addr, &_phone {
            font-size: 18px;
        }
       
        &_social-item {
            width: 40px;
            height: 40px;
            img {
                height: 20px;
            }
    
        }
    }
}

@media screen and (max-width: 575px) {
    .header_official {
        display: none;
    }
    .promo {
        padding-bottom: 0;
        min-height: 550px;
        &_wrapper {
            margin-top: 40px;
        }
        &_header {
            margin-top: 70px;
            font-size: 32px;
        }
        &_subheader {
            margin-top: 10px;
            font-size: 16px;
        }
        &_icons {
            display: none;
        }
        &_link {
           font-size: 9px;
        }
    }
    .advantages {
        &_wrapper {
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            padding: 20px;
        }
        &_item {
            max-width: 100%;
            margin-top: 7px;
            &:nth-child(3) {
                width: 512px;
            }
        }
        &_subtitle {
            margin-top: 15px;
        }
        &_descr {
            margin-top: 10px;
        }
        &_icon {
            max-width: 40px;
        }
    }
    .consultation {
        padding-top: 60px;
        &_descr {
            font-size: 12px;
            margin-top: 15px;
        }
    }
    .title {
        font-size: 20px;
        font-weight: 400;
        &_left {
           font-size: 22px;
        }
    }
    .feed-form {
        margin-top: 22px;
        max-width: 290px;
        max-height: 230px;
        input {
            font-size: 10px;
            margin-bottom: 13px;
            &:nth-child(3) {
                margin-bottom: 14px;
            }
        }
    }
    .button.button_submit {
        font-weight: 400;
        font-size: 12px;
    }
    .catalog {
        padding-bottom: 50px;
        &_content {
            justify-content: center;
        }
        &_tabs {
            margin-top: 32px;
            display: flex;
            flex-wrap: wrap;
        }
        &_item {
            width: 280px;
        }
    }
    .feed {
        padding-bottom: 20px;
        &_item {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
            margin-left: 10px;
            &:nth-child(2) {
                margin-top: 20px;
            }
        }
        img {
            width: 100px;
            height: 100px;
        }
        &_text {
            margin-left: 20px;
            padding-right: 20px;
            text-align: center;
        }
        &_subtitle {
            font-size: 12px;
        }
        &_count {
            font-size: 10px;        
        }
        &_descr {
            font-size: 12px;
        }
    }
    .footer {
        height: 300px;
        &_info {
            width: 250px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        iframe {
            max-height: 100%;
        }
        &_addr, &_phone {
            font-size: 14px;
        }
       
        &_social-item {
            width: 30px;
            height: 30px;
            img {
                height: 16px;
            }
    
        }
    }
}