@media screen and (max-width: 991px) {
    .promo {
        padding: 16px 15px 91px 15px;
        &_wrapper {
            margin-top: 80px;
        }
        &_header {
            font-size: 40px;
        }
        &_subheader {
            font-size: 22px;
        }
        &_icons {
            margin-top: 50px;
            width: 400px;
        }
        &_icon {
            width: 100px;
        }
        &_link {
           font-size: 14px;
        }
    }
    
    .header {
        &_logo {
            width: 215px;
        }
    
        &_official {
            font-size: 11px;
            span {
                font-size: 16px;
            }
        }
    
        &_phone {
            font-size: 16px;
        }
    }

    .button {
        width: 140px;
        &.main_button {
            width: 250px;
        }
        &.button_submit {
            width: 250px;
        }
    }
    
    .advantages {
        padding: 63px 50px 73px 50px;
        &_item {
            max-width: 200px;
            margin-top: 60px;
        }
        &_subtitle {
            margin-top: 25px;
            font-size: 16px;
        }
        &_descr {
            font-size: 13px;
            margin-top: 16px;
        }
    }
    .consultation {
        padding-top: 80px;
        &_descr {
            font-size: 18px;
            line-height: 26px;
            margin-top: 20px;
        }
    }
    .title {
        font-size: 26px;
        font-weight: 600;
        &_left {
           font-size: 32px;
        }
    }

    .feed-form {
        margin-top: 32px;
        width: 290px;
        height: 230px;
        input {
            font-size: 12px;
            margin-bottom: 13px;
            &:nth-child(3) {
                margin-bottom: 18px;
            }
        }
    }

    .carousel {
        padding: 61px 0;
        .slick-track {
            width: 100%;
        }
        &_inner {
            width: 650px;
        }
        li {
            list-style: none;
            button {
                display: none;
            }
        }
    }

    .catalog {
        padding-bottom: 80px;
        &_tabs {
            margin-top: 42px;
        }
        &_tab {
            width: 200px;
            height: 46px;
            font-size: 16px;
            line-height: 46px;
        }
        &_content {
            margin-top: 40px;
            padding: 0 80px;
        }
        &-item {
            width: 280px;
            min-height: 420px;
            &_old-price {
                font-size: 13px;
            }
            &_price {
                font-size: 18px;
            }
        }
    }

    .feed {
        padding-bottom: 40px;
        &_item {
            margin-top: 60px;
            margin-left: 40px;
        }
        img {
            width: 150px;
            height: 150px;
        }
        &_text {
            margin-left: 50px;
            padding-right: 50px;
        }
        &_subtitle {
            font-size: 16px;
        }
        &_count {
            font-size: 12px;        
        }
        &_descr {
            font-size: 14px;
        }
    }
    .footer {
        &_info {
            width: 420px;
            height: 230px;
        }
        
        &_addr, &_phone {
            font-size: 18px;
        }
       
        &_social-item {
            width: 40px;
            height: 40px;
            img {
                height: 20px;
            }
    
        }
    }
}